body{
    margin: 15px;
    background-color: black;
    color: white;
}
.Topic{
    font-size: 20px;
}
.population{
    font-size: 20px;
}
.sample{
    font-size: 20px;
}
.variable{
    font-size: 20px;
}
.data{
    font-size: 20px;
}
.parameter{
    font-size: 20px;
}
.Statistic{
    font-size: 20px;
}
.Statistics{
    font-size: 20px;
}
.cod{
    font-size: 18px;
}
.codall{
    text-align: center;
    font-size: 20px;
}
.tod{
    font-size: 20px;
}
.todall{
    font-size: 20px;
}
.pd{
    font-size: 20px;
}
.upd{
    font-size: 20px;
}
.mupd{
    font-size: 20px;
}
.Q{
    font-size: 20px;
}
.uq{
    font-size: 20px;
}
.sd{
    font-size: 20px;
}
.pod{
    font-size: 18px;
}
.upod{
    font-size: 20px;
}
.iod{
    font-size: 18px;
}
.uiod{
    font-size: 20px;
}
button{
    font-weight: 900;
    margin: 10px;
}
button:hover{
    background-color: aqua;
    color: white;
}